.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

h1 {
    font-size: 7vw;
    margin: 0 0 2vh;
    transition: color .350s ease-in-out;
}

.day h1 {
    color: #FEFEFE;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7)
}

.night h1 {
    color: #fff;
    text-shadow: 0 0 5px rgba(256, 256, 256, .6);
}

h2 {
    font-size: 9vw;
    font-weight: bold;
    margin: 0;
    transition: color .350s ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}

.day h2 {
    color: #FEFEFE;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7)
}

.night h2 {
    color: #fff;
    text-shadow: 0 0 5px rgba(256, 256, 256, .6);
}

span {
    font-size: 5vw;
    margin-top: 1vh;
    font-weight: 600;
    transition: color .350s ease-in-out;
}

.day span {
    color: #FEFEFE;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7)
}

.night span {
    color: #fff;
    text-shadow: 0 0 5px rgba(256, 256, 256, .6);
}
