.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

h1 {
    font-size: 7vw;
    color: #555;
    margin: 0 0 2vh;
}

h2 {
    font-size: 9vw;
    font-weight: bold;
    margin: 0;
    color: #BECFE8;
}

span {
    font-size: 5vw;
    margin-top: 1vh;
    color: #555;
    font-weight: 600;
}
