.day {
    background-color: #fff;
}

.night {

}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 7vw;
    margin: 0 0 2vh;
}

.day h1 {
    color: #555;
}

.night h1 {
}

h2 {
    font-size: 9vw;
    font-weight: bold;
    margin: 0;
}

.day h2 {
    color: #BECFE8;
}

.night h2 {

}

span {
    font-size: 5vw;
    margin-top: 1vh;
    font-weight: 600;
}

.day span {
    color: #555;
}

.night span {
    
}
