.wrapper {
    display: flex;
    flex-direction: row;
}

.item {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    border: 1px solid;
    transition: background-color, border .350s ease-in-out;
    cursor: pointer;
}

.item.day {
    background-color: #FFF;
    border-color: #BBEAFF;
}

.item.night {
    border-color: #FFF;
    background-color: #FFF;
}

.item:focus {
    outline: 0;
}

.item.day.active {
    border-color: #FFF;
    background-color: #BBEAFF;
}

.item.night.active {
    background-color: #2E4582;
}

.item + .item {
    margin-left: 1vw;
}
